html,
body {
  height: 100%;
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

h1 {
  display: block;
  font-size: 36px;
  line-height: 28px;
  margin-bottom: 15px;
  color: white;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 100px;
  line-height: 25px;
}
li:first-letter {
  text-transform: capitalize;
}
.weather-app {
  max-width: 600px;
  margin: 20px 20px;
  padding: 0;
}
.overview {
  margin-bottom: 20px;
}

.container {
  color: rgb(223, 217, 217);
  background: rgba(0, 0, 0, 0.178);
  display: block;
  padding: 40px 50px 50px;
  margin: 50px auto 7px;
  max-width: 75%;
  border: 10px solid rgb(255, 255, 255);
  border-radius: 90px;
}
#city-input {
  background: transparent;
  border: 4px solid white;
  border-radius: 90px;
  color: white;
}

.form-control::placeholder {
  color: rgb(223, 217, 217);
  opacity: 1;
}

.search-button,
.current-button {
  background: transparent;
  color: white;
  height: 44px;
  padding: 3px 15px;
  border: 4px solid white;
  border-radius: 90px;
}

.current-weather-icon img {
  margin-right: 20px;
  height: 160px;
  width: 160px;
}

.filter-white {
  filter: invert(99%) sepia(53%) saturate(2%) hue-rotate(94deg) brightness(113%)
    contrast(100%);
}

.current-weather-icon strong {
  position: relative;
  top: 50px;
  color: white;
  font-size: 100px;
  line-height: 64px;
  /* This changes the appearance of the large current temperature (number). */
}

.current-weather-icon small {
  position: relative;
  font-size: 16px;
  top: -8px;
  /* This changes the appearance of ˚F and ˚C. */
  /* The vertical position of F/C can be changed with 'top'. */
}

.current-weather-icon .active {
  color: white;
  cursor: default;
}

.current-weather-icon .active:hover {
  text-decoration: none;
}

a {
  color: rgba(255, 255, 255, 0.336);
  text-decoration-line: none;
  cursor: default;
}

.conditions {
  position: relative;
  top: 40px;
}

.weather-forecast {
  padding: 25px 0px 15px;
}
.forecast-day {
  border: 2px solid white;
  border-radius: 45px;
  padding: 20px 5px 5px;
  color: white;
}

.forecast-high-temp {
  color: rgb(250, 206, 189);
  font-weight: bolder;
}

.forecast-low-temp {
  color: rgb(174, 223, 255);
  font-weight: lighter;
  font-size: small;
}

.openSource {
  text-align: center;
  display: block;
  color: rgb(202, 255, 189);
}

#openSource {
  color: rgb(202, 255, 189);
}

#openSource:hover {
  color: rgb(73, 238, 216);
}
